# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\OO\projects\Finite-State-Machine-en-Testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
